.services-list {
  display: grid;
  grid-auto-rows: 190px;
  grid-gap: 30px;
  grid-auto-flow: dense;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.service-item-icon {
  width: 3rem;
}

.service-item h3 {
  margin: 1.25rem 0 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.service-item p {
  margin: 0.5rem 15%;
  font-size: 1.25rem;
  text-align: center;
}


/*==============_BIG MOBILE_==============*/

@media screen and (min-width: 500px) {
  .services-list {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 230px;
  }
}


/*================_TABLET_================*/

@media screen and (min-width: 800px) {
  .services-list {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
  }
}


/*================_DESCKTOP_================*/

@media screen and (min-width: 1000px) {
  .services-list {
    grid-template-columns: repeat(4, 1fr);

  }
}
