
.home .desktop {
  display: none;
}


/*============_Desktop_===========*/


@media (min-width: 1200px) {
  .home .mobile {
    display: none;
  }

  .home header {
    position: relative;
    bottom: 54px;
    height: 100vh;
  }

  .home header .desktop {
    display: unset;
  }

   .home .desktop .carrousel {
    position: relative;
    overflow: hidden;
  }

 .home .desktop .caption {
    position: relative;
    bottom: 65vh;
    z-index: 100;
    color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

 .home .desktop .caption .text {
    width: 70%;
  }
  
 .home .desktop .caption .text h1 {
    font-size: 6rem;
    max-width: 50vw;
    margin: 0;
  }
  
 .home .desktop .caption .text h2 {
    color: #EFD285;
    font-size: 3rem;
    margin: 0.25rem 0 2.5rem 0;
  }
  
 .home .desktop .caption .social {
    display: flex;
    flex-direction: column;
  }
  
 .home .desktop .caption .social img {
    width: 1.5em;
    height: 1.5em;
    margin: 1rem 0;
  }
  
 .home .desktop .caption .social img:hover {
    scale: 1.2;
  }
}
