*, html {
  scroll-behavior: smooth !important;
}

.home .desktop {
  display: none;
}

.home .home-link {
  width: 100%;
  text-align: center;
}

.home .home-link h4 {
  font-weight: bold;
  color: #14213D;
  margin-bottom: 1rem;
}

.home .home-link a {
  text-decoration: none;
  margin: 0 5px;
}


/*============_Desktop_===========*/


@media (min-width: 1200px) {
  .home .mobile {
    display: none;
  }

  .home header {
    position: relative;
    bottom: 56px;
    height: 100vh;
  }

  .home header .desktop {
    display: unset;
  }

  .home .desktop .carrousel {
    position: relative;
    overflow: hidden;
  }

 .home .desktop .caption {
    position: relative;
    bottom: 65vh;
    z-index: 100;
    color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

 .home .desktop .caption .text {
    width: 70%;
  }
  
 .home .desktop .caption .text h1 {
    font-size: 6rem;
    max-width: 50vw;
    margin: 0;
  }
  
 .home .desktop .caption .text h2 {
    color: #EFD285;
    font-size: 3rem;
    margin: 0.25rem 0 2.5rem 0;
    width: 55%;
  }
  
 .home .desktop .caption .social {
    display: flex;
    flex-direction: column;
  }
  
 .home .desktop .caption .social img {
    width: 1.5em;
    height: 1.5em;
    margin: 1rem 0;
  }
  
 .home .desktop .caption .social img:hover {
    scale: 1.2;
  }

  .home .first {
    margin-top: 4vh !important;
    padding-top: 4vh ;
  }

  /*--Scroll Button--*/
  #scrollButton {
    position: absolute;
    top: 47vh;
    left: 50%;
    text-align: center;
    text-decoration: none;
  }
  
  #scrollButton p {
    color: #EFD285;
    font-weight: bold;
  }
  
  #scrollButton div {
    margin-right: 25px;
    margin-bottom: 5rem;
  }
  
  #scrollButton span {
    position: absolute;
    width: 35px;
    height: 35px;
  
    border-left: 4px solid #EFD285;
    border-bottom: 4px solid #EFD285;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
}
