html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  margin: 0;
  min-height: 76.35vh;
}

.page-body {
  margin: 4vh 2vw;
}

.spinner-page {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-header {
  height: 200px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-header h1{
  color: #f2cd68;
  background-color: #14213D;
  padding: 0.75rem;
  font-size: 1.5rem;
}


/*============_Tablet_===========*/

@media (min-width: 800px) {
  .page-body {
    margin: 8vh 15vw;
  }

  .pages-header {
    height: 300px;
  }
  
  .pages-header h1{
    font-size: 2.25rem;
  }
}


/*============_Desktop_===========*/

@media (min-width: 1200px) {
  .page-body {
    margin: 10vh 20vw;
  }

  .pages-header {
    height: 350px;
  }

  .pages-header h1 {
    font-size: 3rem;
  }
}
