@font-face {
  font-family: main-font;
  src: url(../../img/fonts/TT\ Chocolates\ Trial\ Light.otf);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: main-font;
}

body h1 {
  font-size: 2.5rem;
}

body h2,
body h3 {
  font-size: 2rem;
  color: #14213D;
}

body p,
body span {
  font-size: 1.5rem;
}

main {
  margin: 0;
  min-height: 76.35vh;
}

.page-body {
  margin: 4vh 2vw;
}

.spinner-page {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-header {
  height: 200px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-header h1{
  color: #f2cd68;
  background-color: #14213D;
  padding: 0.75rem;
  font-size: 1.5rem;
}

.background-section {
  height: 400px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-section-content {
  background-color: rgba(255, 255, 255, 0.829);
  padding: 2.5rem;
  margin: 1rem 1.5vw;
  border-radius: 10px;
}

.background-section-content h3 {
  margin: 0;
}


/*============_Tablet_===========*/

@media (min-width: 800px) {
  .page-body {
    margin: 8vh 15vw;
  }

  .background-section-content {
    margin: 1rem 14vw;
  }

  .pages-header {
    height: 300px;
  }
  
  .pages-header h1{
    font-size: 2.25rem;
  }
}


/*============_Desktop_===========*/

@media (min-width: 1200px) {
  .page-body {
    margin: 10vh 20vw;
  }

  .background-section-content {
    margin: 1rem 19vw;
  }

  .pages-header {
    height: 350px;
  }

  .pages-header h1 {
    font-size: 3rem;
  }
}
