.map-icon {
  position: relative;
  bottom: 15px;
  right: 15px;
  height: 50px;
  width: 20px;
}

.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.contact-item-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-item:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.contact .css-i4bv87-MuiSvgIcon-root {
  color: #14213D;
}

.contact .social-icon,
.contact .css-i4bv87-MuiSvgIcon-root {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
  flex-direction: column;
  width: 50;
}

.contact-form-container form {
  width: 100%;
}

.contact-form-container form .form-field {
  margin-bottom: 0.25rem;
}

.contact-form-container .form-messages {
  height: 3rem;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
  margin: 1rem 0;
}

.contact-map {
  margin-top: 2rem;
}


/*============_Tablet & Desktop_===========*/

@media (min-width: 600px) {
  .contact .social-icon,
  .contact .css-i4bv87-MuiSvgIcon-root {
    width: 3rem;
    height: 3rem;
  }

  .contact-section {
    display: flex;
  }

  .contact-item-list {
    flex-direction: column;
    margin-bottom: 3rem;
    width: 35%;
  }
}
