footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #14213D;
  color: #f2cd68;
  padding: 1rem;
}

.footer-body {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.footer-body nav ul {
  list-style-type: none;
}

.footer-body a {
  text-decoration: none;
  color: #f2cd68;
  font-size: 1.15rem;
}

.footer-contact a {
  font-weight: bold;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.25rem;
}

.footer-social a {
  margin: 0.5rem 0;
}

.footer-social a:hover {
  transform: scale(1.25);
}

.footer-social a img {
  width: 1.5em;
  height: 1.5em;
}

.footer-legal {
  font-size: 1.25rem;
}
