.rooms-list a {
  text-decoration: none;
}

.room-card-container {
  margin: 2rem 0;
}

.room-card-container:hover {
  transform: scale(1.05);
}

.room-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.room-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-card-header h2 {
  margin: 0 2rem 0;
}

.room-card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.room-card-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: 1rem;
}

.room-card-price a{
  margin-top: 0.5rem;
}

/*============_Tablet & Desktop_===========*/

@media (min-width: 800px) {
  .room-card-content {
    flex-direction: row;
    margin: 0;
  }

  .room-card-text {
    width: 60%;
    margin-left: 3rem;
  }
}
